<mat-toolbar>
    
    <a >
        <img src="../../assets/images/Stackkk.png" alt=""/>
    </a>
    
    
    
        <a id='links' routerLink="home" routerLinkActive="active">About</a>
        <a id='links' routerLink="allquiz" routerLinkActive="active">Questions
        <i id='links' class="fa fa-sort-desc" aria-hidden="true"></i>
    </a>
    <span class="example-spacer"></span>
    <button mat-button class=" btn btn-primary" class="contact"  routerLink="login" routerLinkActive="active">Log In</button>
    <button mat-button color="primary" class="contact" routerLink="signup" routerLinkActive="active">Sign Up</button>


    
    
    
    <div class="menu-toggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <!-- <ul class="menu">
            <li><a routerLink="home" routerLinkActive="active">About</a></li>
            <li><a routerLink="home" routerLinkActive="active">Our Products <i class="fa fa-sort-desc" aria-hidden="true"></i></a></li>
            <li><button mat-button class="btn btn-primary contact" routerLink="login" routerLinkActive="active">Log In</button></li>
            <li><button mat-button color="primary" class="btn btn-primary contact" routerLink="signup" routerLinkActive="active">Sign Up</button></li>
        </ul> -->
    </div>
    
  </mat-toolbar>
