



<footer class="footer">
    <div class="container">
        <div class="con1">
            <p>Copyright &copy; 2023</p>
            <img src="../../../assets/images/Stackkk22.png" alt="">
        </div>
        <div class="con1">
            <h3>STACK OVERFLOW</h3>
            <p>Questions</p>
            <p>Help</p>
            
        </div>
        <div class="con1">
            <h3>PRODUCTS</h3>
            <p>Teams</p>
            <p>Advertising</p>
            <p>Collectives</p>
            
        </div>
        <div class="con1">
            <h3>COMPANY</h3>
            <p>About</p>
            <p>Contact Us</p>
            
        </div>
      
    </div>
  </footer>
  