
<div>
    <div class="row">
        <div class="col-md-3">
            <div  id="side-bar" style="background-color: white;height: 93vh;"> 
             <h2>PUBLIC</h2>   
             <div class="pages">
                <p routerLink="/tags" routerLinkActive="active">Tags</p>
                <p routerLink="/users" routerLinkActive="active">Users</p>
                <!-- <p>Companies</p> -->
             </div>
             <h2>Related Tags</h2>
             <div class="related">
                <span>
                    <p>Javascript</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                <span>
                    <p>Typescript</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                <span>
                    <p>Python</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                <span>
                    <p>C Sharp</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                
             </div>
             
            </div>
        </div>

        <div class="col-md-9">
            
                <div class="row">
                  <h1>Users</h1>
                  <div class="users">
                    <div class="profile" *ngFor="let user of users | slice: pageIndex * pageSize : (pageIndex + 1) * pageSize">
                      <img [src]="user.pictureUrl" alt="">
                      <div class="desc" [routerLink]="['/userUpdate']">
                        <h2 style="color: #4FD1D9;">Name: {{ user.displayName }}</h2>
                       
                        <p>500</p>
                            <p style="color: #4FD1D9;">Python,Javascript</p>
                      </div>
                    </div>
                  </div>
                  <mat-paginator [length]="users.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50]" (page)="onPageChanged($event)"></mat-paginator>
                </div>
              </div>
              
        
            
       

    </div>
</div>

