

<div class="container-fluid">

    <div class="row">
        
        <div class="col-md-3">
        <div  id="side-bar" style="background-color: white;height: 93vh;"> 
         <h2>PUBLIC</h2>   
         <div class="pages">
            <p routerLink="/tags" routerLinkActive="active">Tags</p>
            <p routerLink="/users" routerLinkActive="active">Users</p>
            <!-- <p>Companies</p> -->
         </div>
         <h2>Related Tags</h2>
         <div class="related">
            <span>
                <p>Javascript</p>
                <i class="fa fa-times" aria-hidden="true"></i>
                <h5>34000</h5>
            </span>
            <span>
                <p>Typescript</p>
                <i class="fa fa-times" aria-hidden="true"></i>
                <h5>34000</h5>
            </span>
            <span>
                <p>Python</p>
                <i class="fa fa-times" aria-hidden="true"></i>
                <h5>34000</h5>
            </span>
            <span>
                <p>C Sharp</p>
                <i class="fa fa-times" aria-hidden="true"></i>
                <h5>34000</h5>
            </span>
            
         </div>
         
        </div>
    </div>
        
    <div class="col-md-9">
        <div class="content">
            <div class="content-title">
                <p>All Questions</p>
                <h4>23,500,678 Questions</h4>

            </div>
            <div class="content-title2">
                <button mat-button class=" btn btn-primary" class="contact" routerLink="/askquiz" >Ask a Question</button>
                 <div class="categories">
                    <button (click)="sortNewest()">Newest</button>
                    <button>Unanswered</button>
                 </div>
            </div>
            
            

        </div>
        <div class="line">
                
        </div>

        <div  *ngIf="questions && questions.data" class="content-questions">
            <div *ngFor="let question of questions.data" class="question1" [routerLink]="['/onequiz', question.questionId]">


              <div class="votes">
                <p>0 answers</p>
                <p>2 views</p>
              </div>
              <div class="question1a">
                <p class="question-title">{{ question.title }}</p>
                <p appColor="rgb(138, 138, 202)">{{ question.description }}</p>
              </div>
            </div>
            <!-- <div *ngFor="let question of questions.data.slice((currentPage - 1) * pageSize, currentPage * pageSize)" class="question1" [routerLink]="['/onequiz', question.questionId]"></div> -->
            <!-- <div class="pagination">
              <button [disabled]="currentPage === 1" (click)="goToPage(1)">First</button>
              <button [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">Prev</button>
            
              <ng-container *ngFor="let page of getPages()">
                <button [disabled]="currentPage === page" (click)="goToPage(page)">{{ page }}</button>
              </ng-container>
            
              <button [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">Next</button>
              <button [disabled]="currentPage === totalPages" (click)="goToPage(totalPages!)">Last</button>
            </div>
          </div> -->
          
        
        <div class="line">
            
                
        </div>
        
          
    </div>
</div>
