<!-- <mat-toolbar>
    <a href="">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
        
    
    <a >
        <img src="../../assets/images/Stackkk.png" alt=""/>
    </a>
    
    
    
    <a routerLink="login" routerLinkActive="active">Questions</a>
    <a [routerLink]='["register"]' routerLinkActive="active">Our Products
        <i class="fa fa-sort-desc" aria-hidden="true"></i>
    </a>
    <span class="example-spacer"></span>
    <button mat-button color="primary" class="contact">Contact</button>
    
  </mat-toolbar> -->

  <div class="container-fluid">
    <div class="row ">
        <!-- <div class="col py-auto " id="content"> -->
            <div id='bannerimg' class="col-6">
                
            </div>
            <div class="col-6" id="banner">
                <div class="banner-content">
                    <h3 class="banner-title">Who we are</h3>
                    <h1 class="banner2">Empowering the world to develop technology through collective knowledge. 
                         
                    </h1>
                    <h3 class="banner3">Our public platform <b>serves 100 million people every month,</b>  making it one of the 
                         most 
                         popular websites in the world.</h3>
                        <h3>

                        Our asynchronous knowledge management and collaboration offering, Stack Overflow for 
                          Teams, is transforming how people work.
                    </h3>
                </div>

                

                
            
        </div>

        <div class="col-8">
            <div class="awards">
                <img src="../../assets/images/stackAward.png" alt="">
            </div>
            <div class="products">
                <div class="line"> </div>
                <h3 class="pro-text">Our Products</h3>
                <div class="line"> </div>
            </div>
            <div class="product-content">
                <img src="../../assets/images/stackrproo.png" alt="">
            </div>
        </div>


    </div>

    
  </div>

  
    <!-- <app-footer></app-footer> -->

    
  
  
  
