
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div  id="side-bar" style="background-color: white;height: 93vh;"> 
             <h2>PUBLIC</h2>   
             <div class="pages">
                <p routerLink="/tags" routerLinkActive="active">Tags</p>
                <p routerLink="/users" routerLinkActive="active">Users</p>
                <!-- <p>Companies</p> -->
             </div>
             <h2>Related Tags</h2>
             <div class="related">
                <span>
                    <p>Javascript</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                <span>
                    <p>Typescript</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                <span>
                    <p>Python</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                <span>
                    <p>C Sharp</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                
             </div>
             
            </div>
        </div>

        <div class="col-md-9">
            <h1>Tags</h1>
            <p>A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.</p>
            <div class="tags">
                <div class="title">
                    
                    
                </div>
                <div class="single-tag">
                    <h4>Javascript</h4>
                    <p>For questions about programming in ECMAScript (JavaScript/JS) and its different dialects/implementation</p>
                </div>
                <div class="single-tag">
                    <h4>Javascript</h4>
                    <p>For questions about programming in ECMAScript (JavaScript/JS) and its different dialects/implementation</p>
                </div>
                <div class="single-tag">
                    <h4>Python</h4>
                    <p>For questions about programming in ECMAScript (JavaScript/JS) and its different dialects/implementation</p>
                </div>
                <div class="single-tag">
                    <h4>Angular</h4>
                    <p>For questions about programming in ECMAScript (JavaScript/JS) and its different dialects/implementation</p>
                </div>
                <div class="single-tag">
                    <h4>Node Js</h4>
                    <p>For questions about programming in ECMAScript (JavaScript/JS) and its different dialects/implementation</p>
                </div>
            </div>

        </div>

    </div>
</div>
