

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div  id="side-bar" style="background-color: white;height: 93vh;"> 
             <h2>PUBLIC</h2>   
             <div class="pages">
                <p>Tags</p>
                <p>Users</p>
                <!-- <p>Companies</p> -->
             </div>
             <h2>Related Tags</h2>
             <div class="related">
                <span>
                    <p>Javascript</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                <span>
                    <p>Typescript</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                <span>
                    <p>Python</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                <span>
                    <p>C Sharp</p>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h5>34000</h5>
                </span>
                
             </div>
             
            </div>
        </div>

        <div class="col-md-9">
            <div class="profile" >
                <div class="image">
                    <img src="" alt="">
                    <div class="details">
                        <h1>Jonathan Ndambuki</h1>
                        <p>Member for 2 days</p>

                    </div>
                    
                </div>
                <div class="activity">
                    <p>Questions Asked: 1</p>
                    

                </div>
                <div class="content-questions">
                    <div class="question1">
                        <div class="votes">
                            <p>0 votes</p>
                            <p>0 answers</p>
                            <p>2 views</p>
                        </div>
                        <div class="question1a">
                            <p class="question-title">How can I send a direct message from a PowerAutomate Flow over Azure IoT Hub to a device with Node-Red on it?</p>
                            <p>I want to create a PowerApp, which triggers a PowerAutomate Flow. This flow shold send a message. How can I send a message from PowerAutomate to a ...</p>
                        </div>
                    </div>
                </div>
                

            </div>
            
            
        </div>
    </div>
</div>
